  <!-- footer -->
  <footer>
    <div class="container-fluid">
      <div class="row" id="footer-head">
        <div class="col-md-6">
          <h3>BRAND</h3>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-google-plus-square"></i>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-4">
          <h5>Site Map</h5>
          <ul>
            <li>Recipes</li>
            <li>Expert Advice</li>
            <li>Ingredients</li>
            <li>Holiday and Events</li>
            <li>Video</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Helpful Links</h5>
          <ul>
            <li>Help</li>
            <li>Contact us</li>
            <li>Advertising</li>
            <li>Press Center</li>
            <li>Video</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Food Innovation Group</h5>
          <ul>
            <li>Bon Appetit</li>
            <li>Epicurious</li>
            <li>Gourmet</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End of footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>  </body>
</html>