<% include partials/header %>
<div id="logIn">
    <h4 class="mb-3">Log In</h4>
    <p>Don't have an account? <a href="#">Create one</a></p>
    <a id="fb" class="btn" href="/auth/facebook"><i class="fab fa-facebook mr-3"></i>Log in with Facebook</a>
    <p class="mb-0">or</p>
    <a id="google" class="btn" href="/auth/google"><img class="mr-3" src="/images/google.jpg">Log in with Google</a>
    
</div>
<% include partials/footer %>
