<% include partials/header %>

<div class="container" id="team">
    <h1 class="text-center mb-5">Our Team</h1>
    <div class="row mb-5">
        <div class="col-md-3">
            <img src="images/person1.jpeg" class="img-fluid">
        </div>
        <div class="col-md-9 mt-2">
            <h3 class="font-weight-bold">Agueda J. Brown</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci a odio imperdiet tincidunt. Phasellus dictum pretium tincidunt. Nunc at condimentum lorem. Duis sodales nulla ut nulla bibendum tristique. Donec turpis libero, placerat sed dapibus et, mattis a ante. Praesent lacinia neque risus, ut ultricies magna facilisis ut. Morbi vitae maximus ante. Fusce vel lacus id felis facilisis volutpat. In ac ipsum vel turpis bibendum hendrerit a ac nisi. Cras sagittis nunc tortor, eu faucibus lectus dapibus fringilla. Maecenas aliquet pretium leo, et tempor odio efficitur in. Curabitur placerat vitae orci ac mollis. Aenean vel facilisis massa, ut gravida ante. Mauris eu lobortis ante. In hac habitasse platea dictumst.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <img src="images/person2.jpeg" class="img-fluid">
        </div>
        <div class="col-md-9 mt-2">
            <h3 class="font-weight-bold">John E. Deleon</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci a odio imperdiet tincidunt. Phasellus dictum pretium tincidunt. Nunc at condimentum lorem. Duis sodales nulla ut nulla bibendum tristique. Donec turpis libero, placerat sed dapibus et, mattis a ante. Praesent lacinia neque risus, ut ultricies magna facilisis ut. Morbi vitae maximus ante. Fusce vel lacus id felis facilisis volutpat. In ac ipsum vel turpis bibendum hendrerit a ac nisi. Cras sagittis nunc tortor, eu faucibus lectus dapibus fringilla. Maecenas aliquet pretium leo, et tempor odio efficitur in. Curabitur placerat vitae orci ac mollis. Aenean vel facilisis massa, ut gravida ante. Mauris eu lobortis ante. In hac habitasse platea dictumst.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <img src="images/person3.jpeg" class="img-fluid">
        </div>
        <div class="col-md-9 mt-2">
            <h3 class="font-weight-bold">Barbara E. Ross</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci a odio imperdiet tincidunt. Phasellus dictum pretium tincidunt. Nunc at condimentum lorem. Duis sodales nulla ut nulla bibendum tristique. Donec turpis libero, placerat sed dapibus et, mattis a ante. Praesent lacinia neque risus, ut ultricies magna facilisis ut. Morbi vitae maximus ante. Fusce vel lacus id felis facilisis volutpat. In ac ipsum vel turpis bibendum hendrerit a ac nisi. Cras sagittis nunc tortor, eu faucibus lectus dapibus fringilla. Maecenas aliquet pretium leo, et tempor odio efficitur in. Curabitur placerat vitae orci ac mollis. Aenean vel facilisis massa, ut gravida ante. Mauris eu lobortis ante. In hac habitasse platea dictumst.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <img src="images/person4.jpeg" class="img-fluid">
        </div>
        <div class="col-md-9 mt-2">
            <h3 class="font-weight-bold">Janet A. Crisman</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci a odio imperdiet tincidunt. Phasellus dictum pretium tincidunt. Nunc at condimentum lorem. Duis sodales nulla ut nulla bibendum tristique. Donec turpis libero, placerat sed dapibus et, mattis a ante. Praesent lacinia neque risus, ut ultricies magna facilisis ut. Morbi vitae maximus ante. Fusce vel lacus id felis facilisis volutpat. In ac ipsum vel turpis bibendum hendrerit a ac nisi. Cras sagittis nunc tortor, eu faucibus lectus dapibus fringilla. Maecenas aliquet pretium leo, et tempor odio efficitur in. Curabitur placerat vitae orci ac mollis. Aenean vel facilisis massa, ut gravida ante. Mauris eu lobortis ante. In hac habitasse platea dictumst.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <img src="images/person5.jpeg" class="img-fluid">
        </div>
        <div class="col-md-9 mt-2">
            <h3 class="font-weight-bold">John A. Johnson</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis orci a odio imperdiet tincidunt. Phasellus dictum pretium tincidunt. Nunc at condimentum lorem. Duis sodales nulla ut nulla bibendum tristique. Donec turpis libero, placerat sed dapibus et, mattis a ante. Praesent lacinia neque risus, ut ultricies magna facilisis ut. Morbi vitae maximus ante. Fusce vel lacus id felis facilisis volutpat. In ac ipsum vel turpis bibendum hendrerit a ac nisi. Cras sagittis nunc tortor, eu faucibus lectus dapibus fringilla. Maecenas aliquet pretium leo, et tempor odio efficitur in. Curabitur placerat vitae orci ac mollis. Aenean vel facilisis massa, ut gravida ante. Mauris eu lobortis ante. In hac habitasse platea dictumst.</p>
        </div>
    </div>
</div>
<% include partials/footer %>